<% provide(:title, 'Not found') %>

<div id="main">
  <div class="fof">
    <h1>Error 500</h1>
    <h3>Internal server error.</h3>
    <p>The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
  </div>
</div>
