<% if !@shows.first.nil? %>
  <% @movies.each do |movie| %>
    <%if @shows.first.movie_id == movie.id %>
      <h1><%= movie.title %></h1>
      <% @shows.each do |show| %>
        <div>
          <br>
          <%= "Thoi gian bat dau: " + show.start_time %>
          <br>
          <%= "Thoi gian ket thuc: " + show.end_time %>
          <%= link_to 'man hinh ' + show.screen_id.to_s, screen_path(show.id) %>
        </div>
      <% end -%>
    <% end -%>
  <% end -%>
<% else %>
  <h1>Phim chua co lich chieu</h1>
<% end -%>
