.ticket-booking {
  width: 980px;
  margin: 0 auto;
  .ticket-date-select {
    background-color: red;
    height: 140px;
  }
  .ticket-time-select {
    background-color: green;
    height: 140px;
  }
  .ticket-seat-select {
    background-color: blue;
    height: 400px;
  }   
}

.time-select-cotent {
  max-width: 980px;
  margin: 0 auto;
  h2 {
    color: #222;
    border-bottom: 2px solid #222;
  }
}

.time-select-btn {
  border: 2px solid #FFFFFF;
  display: inline-block;
  padding: 10px;
  border-radius: 30%;
  margin: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-family: Verdana, Arial, sans-serif;
  color: #222;
  line-height: 25px;
  &:hover {
    border-color: #222;
  }
}

.poster {
  float: left;
  height: 370px;
  img {
    width: 250px;
  }
}

.food-list {
  color: #222;
  h2 {
    height: 30px;
    border-bottom: 1px solid #222;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  .food-item {
    width:200px;
    border: 1px solid #222;
    margin: 0 5px;
    display: inline-block;
    height: 400px;
    img {
      clear: both;
      width: 100%;
    }
    .lower-area {
      height: 40%;
      clear: both;
      span {
        font-size: 25px;
        line-height: 29px;
        font-weight: 600;
      }
      .quan-change {
        input {
          width: 50%;
          font-size: 25px;
        }
        .btn {
          width: 25%;
        }
      }
    }
  }
}
