.movie-poster {
  width: 185px;
  height: 277px;
}

.movie-lists {
  text-align: left;
  margin: 0 44px;
  width: 197px;
  position: relative;
  margin-bottom: 20px;
}

.movie-image {
  max-width: 100%;
  height: 277px;
  display: inline-table;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.movie-info {
  max-height: none;
  height: 137px;
  min-height: 52px;
  width: 100%;
  padding-bottom: 95px;
  color: #333;
}

.movie-name {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
}

.search-bar {
  margin: 30px 20%;
  max-width: 1100px;
  border-radius: 4px;
  height: 40px;
  background-color: white;
  border: 1px solid #e6e6e6;
  min-width: 564px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.btn-search img {
  width: 15px;
}

.btn-search {
  background-color: #ccc !important;
  border-radius: 0 4px 4px 0;
  width: 20%;
  height: 40px;
  float: right;
  background-image: url('https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/search-512.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px 50%;
  font-size: 17px;
  padding-right: 0;
}

.search-field {
  height: 40px;
  border-style: none;
  border-radius: 4px 0 0 4px;
  width: 65%;
  padding-left: 10px;
  float: left;
}

#movie-genre-field {
  display: none;
}

.filter-bar {
  width: 1000;
  min-width: 572px;
  background: #afc1c1;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 20px auto;
  font-size: 16px;
  color: #000000;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; 
}

.sort_link {
  float: right;
  border-radius: 3px;
  color: #636363;
  text-decoration: none;  
  margin: 0 10px;
}

#search_select {
  width: 15%;
  height: 40px;
  border-style: none;
  float: left;
  font-size: 15px;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
}

#search_select * {
  width: 15%;
  height: 90px;
}

/* movie's details page */


.show-movie-details {
  padding-bottom: 10px;
  min-width: 980px;
  margin: 0 auto;
  #title-detail {
    border-bottom: 2px solid #222;
    color: #222;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .movie-details {
    .poster {
      float: left;
      height: 370px;
      img {
        width: 250px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
      }
    }
    .movie-info {
      width: 70%;
      float: right;
      margin-left: 20px;
      height: 370px;
      h1 {
        margin-top: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #d9d6c8;
        text-transform: uppercase;
        font-weight: 350;
        font-size: 28px;
      }
      span {
        line-height: 22px;
        font-size: 16px;
      }
      a {
        background: none no-repeat scroll 0 0 #e71a0f;
        text-decoration: none;
        border-radius: 5px;
        padding: 10px 20px;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 1000;
        margin-top: 200px;
      }
    }
  }
}

.movie-desc {
  color: #222;
  max-width: 980px;
  margin: 0 auto;
  clear: both;
  h2 {
    text-align: center;
  }
  p {
    line-height: 20px;
    font-size: 15px;
  }
}

.btn-buy-ticket {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
