#user_date_of_birth_1i, #user_date_of_birth_2i, #user_date_of_birth_3i {
  height: 34px;
  padding: 5px 8px;
  font-size: 14px;
  color: #555555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 5px;
}
