/* home page */

.home-movie-selection {
  margin: 20px 0;
  width: 100%;
  padding: 0;
}

.home-title {
  background: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg_h3_line.jpg") repeat-x scroll left center rgba(0, 0, 0, 0);
  height: 60px;
  text-align: center;
  width: 100%;  
}

.home-movie-selection .home-title h2 {
  background: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/h3_movie_selection.gif") no-repeat scroll center center / 406px 41px #FDFCF0;
  display: inline-block;
  width: 425px; 
}

.home-title h2 {
  height: 60px;
  text-indent: -99999px;
  margin: 0;
  padding: 0;
}
